$theme-site-header-breakpoints: (
  hide-primary: 1100px,
  hide-secondary: 700px,
  small-logo: 775px,
  small-text-primary: 0,
  small-text-secondary: 830px
);

// Colors
$primary: #fa5c00;
$secondary: #002a47;

@import "../../node_modules/@watt-global-media/package-global/scss/core";
