.site-footer {
  $self: &;
  &__brand {
    margin-bottom: 0;
  }
  &__tagline {
    font-size: 1.25rem;
  }
  &__corporate-logo {
    filter: brightness(0) invert(1);
  }
}
.site-footer-nav {
  &__header {
    font-size: 1.25rem;
  }
  &__item {
    font-family: $skin-font-family-primary;
    font-weight: 400;
  }
}
