$theme-site-header-breakpoints: (
  hide-primary: 1100px,
  hide-secondary: 700px,
  small-logo: 775px,
  small-text-primary: 0,
  small-text-secondary: 830px
);

// Colors
$primary: #00677d;
$secondary: #002a47;

@import "@watt-global-media/package-global/scss/core";

.newsletter-signup-banner {
  &__name,
  &__description {
    &--large {
      color: #fff;
    }
  }
  &--large {
    label {
      color: #fff;
    }
  }
}
